In [6]:
#Q1 variable containing following data
#string
a="xyz"
#list
l=[1,45,67,83,'hello', 'jupyter', True ,45.7, 45+5j]
#float
f=3.1472
#tuple
t=('red','life','laptop',67,True )

type(a)

str

In [7]:
type(l)

list

In [8]:
type(f)

float

In [9]:
type(t)

tuple

In [22]:
''' Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.   What will be the data type of the above given variable.'''

' Q2. Given are some following variables containing data:\n(i) var1 = ‘ ‘\n(ii) var2 = ‘[ DS , ML , Python]’\n(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]\n(iv) var4 = 1.   What will be the data type of the above given variable.'

In [13]:
var1=''
type(var1)

str

In [16]:
var2= "[ DS , ML , Python]"
type(var2)

str

In [19]:
var3= ['DS','ML','Python']
type(var3)

list

In [20]:
var4=1
type(var4)

int

In [21]:
'''Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **'''

'Q3. Explain the use of the following operators using an example:\n(i) /\n(ii) %\n(iii) //\n(iv) **'

In [23]:
#(i) / 
# It is called division operator e.g-
a=10
b=2
print(a/b)

5.0

In [24]:
#(ii) %
# It is called modulus operator , it is used to get the remainder values. e.g-
a=5
b=2
print(a%b)

1

In [25]:
#(iii) //
# // is called floor division operator,it is used to neglect decimal value. e.g-
a=7
b=3
print(a//b)

2

In [27]:
#(iv) **
# ** is called exponential operator, used to calculate square, cube etc
2**3

8

In [28]:
3**4

81

In [30]:
'''Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.'''

'Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the\nelement and its data type.'

In [34]:
list1=[1,45,67,83,'james bond','gladiator', 'jupyter', True ,45.7, 45+5j]
for i in list1:
    print(i)
    a=type(i)
    print(a)

1
<class 'int'>
45
<class 'int'>
67
<class 'int'>
83
<class 'int'>
james bond
<class 'str'>
gladiator
<class 'str'>
jupyter
<class 'str'>
True
<class 'bool'>
45.7
<class 'float'>
(45+5j)
<class 'complex'>

In [35]:
'''Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.'''

'Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many\ntimes it can be divisible.'

In [43]:
# taking input of two numbers
A=int(input("enter number A = "))
B=int(input("enter number B = "))
count =0
temp=A
temp2=B
while A%B==0:
    A=A/B
    count=count+1
if count>0:
    print(f"{temp2} divides {temp}  {count} times")
else:
    print(f"{temp2} doesn't divide {temp}")

enter number A =  128
enter number B =  2

2 divides 128  7 times

In [44]:
'''Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.'''

'Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is\ndivisible by 3 or not.'

In [48]:
list2=list(range(1,26))
print(list2)
for i in list2:
    if i%3==0:
        print(i,"is divisible by 3")
    else:
        print(i,"is not divisible by 3")

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]
1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

In [50]:
'''Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.'''

'Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.'

In [56]:
print("mutability is if you are able to change something at a particular indexes for a particular collection or data type")
print("Immutable is the when no change is possible over time")
print("for example string,tuples,integers,floats is immutable and lists,dictionaries,sets is mutable")

mutability is if you are able to change something at a particular indexes for a particular collection or data type
Immutable is the when no change is possible over time
for example string,tuples,integers,floats is immutable and lists,dictionaries,sets is mutable

In [52]:
#list is mutable
list3=[23,45,67,"aadarsh",'data science','mutable',45.6788,True,45+5j ]
list3[-2]=False
print(list3)

[23, 45, 67, 'aadarsh', 'data science', 'mutable', 45.6788, False, (45+5j)]

In [55]:
#string is immutable
str1="aadarsh"
print(str1)
str1[2]='c'    #this will give us an error(typeError)
print(str1)

aadarsh

TypeError: 'str' object does not support item assignment